*
{
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body
{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    /*background-color: #ffefd2;*/
    display: flex;
    flex-direction: column;
}
header
{
    color: #711def;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 16px;
    position: relative;
}
header h1
{
    /*color: #5f4b4b;*/
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    font-size: 2.2em;
    letter-spacing: 1px;
}
a
{
    text-decoration: none;
}
.menu
{
    display: flex;
}
.menu button
{
    display: none;
}
.menu-list
{
    list-style: none;
    display: flex;
}
.menu-list li
{
    display: inline-block;
    margin-left: 32px;
    font-size: 1.3em;
    cursor: pointer;
    transition: color 0.5s;
}
.menu-list li.active,
.menu-list li:hover
{
    color: #ff5360;
}
.main
{
    flex: 1;
    display: flex;
    align-items: center;
}
.right .container-imagens
{
    display: flex;
    width: 800px;
    justify-content: center;
}
.right img
{
    width: 80%;
    border-radius: 5%;
}
.galeria
{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}
.box
{
    display: flex;
    flex: 1;
    transition: 0.5s;
}
.box img
{
    transition: 0.5s;
    width: 100%;
    height: 500px;
    border-radius: 8%;
    object-fit: cover;
    filter: grayscale(1);
}
.box:hover
{
    flex: 3;
}
.box:hover img
{
    filter: grayscale(0);
    width: 400px;
}
iframe
{
    border-radius: 8%;
}
.left
{
    width: 50%;
    max-width: 50%;
    padding: 40px 64px;
}
.right
{
    width: 50%;
    max-width: 50%;
    padding: 40px 48px;
}
.imgB
{
    position: static;
    float: left;
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 45%;
    overflow: hidden;
}
.title
{
    color: #ff5360;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 48px;
}
.titleart
{
    color: #ff5360;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.msg
{
    text-align: justify;
    color: #9fb5cc;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}
.msgart
{
    text-align: justify;
    color: #9fb5cc;
    font-size: 1em;
    letter-spacing: 0.35px;
    line-height: 16px;
    margin-bottom: 24px;
}
button.cta
{
    display: flexbox;
    border: none;
    outline: none;
    background-color: #711def;
    color: #fff;
    padding: 18px 32px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.9;
}
button.cta:hover
{
    opacity: 0.9;
}
.leftjaba
{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}
.jaba
{
    flex-basis: 45%;
    width: 600px;
    height: 310px;
    overflow: auto;
    margin: 25px;
    padding: 15px;
}
.apoio
{
    float: left;
    margin: 10px;
}
.footer
{
    padding: 30px 0;
    background-color: #9fb5cc;
}
.social
{
    text-align: center;
    padding-bottom: 25px;
    color: #711def;
}
.social a
{
    font-size: 36px;
    color: inherit;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}
.social a:hover
{
    opacity: 1;
}
.footer ul
{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a
{
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}
.footer ul li
{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover
{
    opacity: 1;
}
.footer .copyright
{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
.pix
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pix p
{
    font-size: 1.6em;
    color: #aaa;
    text-align: center;
}
/*escrever pag dos fundadores com links button pro site pessoal(portfolio), e oferecer o mesmo pra empresas.*/
@media (max-width:1600px)
{
    header, .left, .right, .leftjaba
    {
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .jaba
    {
        width: 70%;
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        margin: 15px;
        padding: 5px;
    }
    .apoio img
    {
        float: inline-start;
        margin: 2px;
        width: 80%;
    }
    iframe
    {
        width: 90%;
    }
}

@media (max-width:1140px)
{
    .main
    {
        flex-direction: column;
    }
    .left, .right, .leftjaba
    {
        width: 100%;
        max-width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left
    {
        font-size: 0.8em;
    }
    .left *
    {
        width: 95%;
        margin-bottom: 32px;
        text-align: center;
    }
    .jaba
    {
        width: fit-content;
        max-width: 80%;
        flex-basis: 100%;
        font-size: 0.8em;
    }
    button.cta
    {
        max-width: 60%;
    }
    .imgB
    {
        width: 45%;
        clip-path: none;
        border-radius: 35%;
    }
    .right .container-imagens, .right img
    {
        width: 100%;
    }
    .right iframe
    {
        width: 85%;
    }
    .galeria
    {
        width: 80%;
    }
    .box img
    {
        width: 80%;
    }
    .menu button 
    {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        color: #711def;
        outline: none;
        font-size: 1.7em;
        cursor: pointer;
        z-index: 2;
    }
    .menu i.fa-times, .menu.opened i.fa-bars
    {
        display: none;
    }
    .menu.opened i.fa-times, .menu i.fa-bars
    {
        display: block;
        animation: enter 0.8s;
    }
    @keyframes enter {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .menu-list
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #711def;
        color: #fff;
        padding: 46px;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 50px;
        transform: translateX(100%);
        transition: 0.5s;
    }
    .menu-list li
    {
        font-size: 1.7em;
        margin: 12px 0px;
    }
    .menu.opened .menu-list
    {
        transform: translateX(0);
    }
    .menu.opened button
    {
        color: #fff;
    }
    .msg
    {
        text-align: justify;
    }
    .social {
        padding-bottom: 15px;
    }
    .social a {
        width: 35px;
        height: 35px;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    .social a:hover {
    opacity: 1;
    }
}