@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body
{
    background: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1300px;
    min-height: 1000px;
    margin: 50px;
    background: #696969;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px #000000;
}
.container .left_Side
{
    position: relative;
    background: #4b4a4a;
    padding: 40px;
}
.profile_Text
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #dbdbdb;
}
.profile_Text .imgB
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
a
{
    color: #dbdbdb;
    list-style: none;
    font-weight: 800;
}
p
{
    text-align: justify;
}
.menu
{
    padding: 40px;
}
.title
{
    color: #dbdbdb;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.menu ul
{
    position: relative;
}
.menu ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.menu ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #dbdbdb;
}
.menu ul li span
{
    color: #dbdbdb;
    font-weight: 300;
}
.menu.artistas li
{
    margin-bottom: 15px;
}
.menu.artistas h5
{
    color: #dbdbdb;
    font-weight: 800;
}
.menu .artistas h4
{
    color: #dbdbdb;
    font-weight: 700;
}
.menu.habilidades .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #000000;
    display: block;
    margin-top: 5px;
}
.menu.habilidades .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #6144b1;
}
.container .right_Side
{
    position: relative;
    background:linear-gradient(to right, #666666, rgb(199, 199, 199));
    padding: 40px;
}
.sobre
{
    margin-bottom: 50px;
}
.sobre :last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #000000;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
iframe
{
    margin-top: 20px;
    margin-left: 50px;
}
.interesse ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interesse ul li
{
    list-style: none;
    color: #dbdbdb;
    font-weight: 800;
    margin: 10px 10px;
}
.interesse ul li .fa
{
    color: #dbdbdb;
    font-size: 20px;
    width: 20px;
    padding: 2px;
}
body.dark
{
    background: #383838;
    color: #fafafa;
}
.checkbox
{
    opacity: 0;
    position: relative;
}
.label
{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
.label .ball
{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball
{
    transform: translateX(24px);
}
.fa-moon
{
    color: #f1c40f;
}
.fa-sun
{
    color: #f39c12;
}
@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 400px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 240px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
}