@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body
{
    background: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 1000px;
    margin: 50px;
    background: #696969;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px #000000;
}
.container .left_Side
{
    position: relative;
    background: #4a4b4b;
    padding: 40px;
}
.profile_Text
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #dbdbdb;
}
.profile_Text .imgB
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
a
{
    color: #000000;
    text-decoration: dotted;
    font-weight: 800;
}
:link:hover
{
    outline: dashed #ff0000;
}
p
{
    text-align: justify;
    position: static;
}
img
{
    border-radius: 5%;
}
.menu
{
    padding: 20px;
}
.title
{
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.menu ul
{
    position: relative;
}
.menu ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.menu ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #dbdbdb;
}
.menu ul li span
{
    color: #dbdbdb;
    font-weight: 500;
}
.menu.artistas li
{
    margin-bottom: 15px;
}
.menu.artistas h5
{
    color: #dbdbdb;
    font-weight: 900;
}
.menu.artistas h4
{
    color: #dbdbdb;
    text-decoration: underline;
    font-weight: 1100;
}
.menu.habilidades .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #000000;
    display: block;
    margin-top: 5px;
}
.menu.habilidades .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
}
.container .right_Side
{
    position: relative;
    background:linear-gradient(to right, #666666, rgb(199, 199, 199));
    padding: 40px;
}
.sobre
{
    margin-bottom: 50px;
}
.sobre :last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #000000;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.title3
{
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding: 15px;
}
.anuncio
{
    position: sticky;
    top: 20px;
    align-content: 5px;
    border-color: #000000;
}
.anuncio2
{
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border-radius: 10%;
}
.galeria
{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    /*height: 300px;
    overflow: hidden;*/
}
.box
{
    display: flex;
    flex: 1;
    transition: 0.5s;
}
.box img
{
    transition: 0.5s;
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: grayscale(1);
}
.box:hover
{
    flex: 3;
}
.box:hover img
{
    filter: grayscale(0);
    width: 400px;
}
iframe
{
    margin-top: 20px;
    margin-left: 50px;
}
.interesse ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interesse ul li
{
    list-style: none;
    color: #dbdbdb;
    font-weight: 400;
    margin: 10px 10px;
}
.interesse ul li .fa
{
    color: #dbdbdb;
    font-size: 20px;
    width: 20px;
    padding: 2px;
}
body.dark
{
    background: #383838;
    color: #fafafa;
}
.dark a
{
    color: #dbdbdb;
}
.dark .left_Side
{
    background: #181818;
}
.dark .right_Side
{
    background:linear-gradient(to right, #242323, #696969);
}
.dark .title, .dark .title2, .dark .title3
{
    color: #dbdbdb;
}
.dark .menu.habilidades .percent
{
    background: #493434;
}
.checkbox
{
    opacity: 0;
    position: relative;
}
.label
{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
.label .ball
{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball
{
    transform: translateX(24px);
}
.fa-moon
{
    color: #f1c40f;
}
.fa-sun
{
    color: #f39c12;
}
@media (max-width: 720px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    iframe
    {
        width: 95%;
        margin-left: auto;
    }
}
@media (max-width: 480px)
{
    .menu
    {
        flex-direction: column;
    }
}